<!--<table class="easyui-datagrid" title="地理坐标" style="width:100%px;height:100%"
        data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
    <thead>
        <tr>
            <th data-options="field:'id',width:100">ID</th>
            <th data-options="field:'x',width:100">经度</th>
            <th data-options="field:'y',width:100,align:'right'">纬度</th>
            <th data-options="field:'name',width:200,align:'right'">名称</th>
            <th data-options="field:'address',width:200">地址</th>
            <th data-options="field:'detail',width:400,align:'center'">详细描述</th>
        </tr>
    </thead>
</table>-->

    <script type="text/javascript">  
           var datagrid;  //定义全局变量  
           var editRow = "";//定义当前编辑的行  
           datagrid = $("#event").datagrid({  
               title: "自助游管理",  
               border: false,  
               locale: "zh_CN",  
               iconCls: 'icon-save',  
               striped: true,  
               sortOrder: "desc",  
               collapsible: false,  
               url: "http://localhost:30056/api/event/view",  
               queryParams: { dtNumber:"", dtTitle: ""},  
               columns: [[  
                   { field: 'id', title: 'ID', width: '5%', algin: 'center' },  
                   { field: 'title', title: '标题', width: '10%', align: 'center' },  
                   { field: 'url', title: 'URL', width: '20%', align: 'center' },  
                   { field: 'content', title: '内容', width: '25%', align: 'center' },  
                   { field: 'posid', title: '地理位置', width: '10%', align: 'center' },  
                   {  
                       field: "operateID", title: '操作',width:'27%', align: 'center', formatter: function (value, rowData, rowIndex) {  
                           return "a";  
                       }  
                   }
               ]],  
               toolbar: [{  
                   id: 'btnAdd',  
                   text: "添加",  
                   iconCls: 'icon-add',  
                   handler: function () {  
                       $("#winAdd").window("open");  
                   }  
               }, {  
                   id: 'btnEdit',  
                   text: "修改",  
                   iconCls: 'icon-edit',  
                   handler: function () {  
                       alert("修改");  
                   }  
               }],  
               pagination: true,//表示在datagrid设置分页              
               rownumbers: false,  
               singleSelect: true,  
           });  
            $('#event').datagrid('getPager').pagination({  
                pageSize: 10,  
                pageNumber: 1,  
                pageList: [10, 20, 30, 40, 50],  
                beforePageText: '第',//页数文本框前显示的汉字   
                afterPageText: '页    共 {pages} 页',  
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',  
           });  
  
           //条件查询  
           function Search() {  
               var queryParameter = $('#event').datagrid("options").queryParams;  
               queryParameter.dtNumber = $("#dtNumber").val();  
               queryParameter.dtTitle = $("#dtTitle").val();  
               $("#event").datagrid("reload");  
           }  
       </script>  
  
  
<!--条件查询 -->  
<div data-options="region:'north',split:false,border:false,title:'查询条件',collapsed:false,iconCls:'icon-search'" style="height:60px;margin:5px 5px 0 5px">  
        产品编号:<input type="text"  name="dtNumber" id="dtNumber" class="easyui-validatebox" maxlength="10" style="height:15px;margin:0 5px 0 5px" />  
        产品标题:<input type="text"  name="dtTitle" id="dtTitle" class="easyui-validatebox" maxlength="10" style="height:15px;margin:0 5px 0 5px" />  
       &nbsp;&nbsp;<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'"  onclick="Search()">查询</a>  
</div>  
  
<!--数据展示 -->  
<div data-options="region:'center',fit:true,split:false,border:false" >  
    <table  id="event" style="width:100%"></table>  
</div>  